<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> headers}}
    <p>Portfolio of Projects (PoP)</p>
    <p>{{projectList}} </p>
    {{> footer}}
  </body>
</html>
